<ion-header>
  <ion-navbar color="primary">
    <ion-title> User Details </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="close()">Done</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>

      <ion-item>
        <p ion-text item-start color="primary">Name</p>
        <p item-end> {{user.Name}} </p>
      </ion-item>

      <ion-item>
        <p ion-text item-start color="primary">Email</p>
        <p item-end> {{user.Email}} </p>
      </ion-item>

      <ion-item *ngIf="user.Phone">
        <p ion-text item-start color="primary">Phone</p>
        <p item-end> {{user.Phone}} </p>
      </ion-item>

    </ion-card-content>
  </ion-card>




  <ion-card>
    <ion-navbar color="primary">
      <ion-title>Cart</ion-title>
    </ion-navbar>
    <ion-card-content>
      <ion-item>
        <h3 item-start>Cart Value</h3>
        <h3 item-end>{{cartVal}}</h3>
      </ion-item>
      <ion-list>

        <div *ngFor="let i of items">
          <h3 margin-top>{{i.Name}}</h3>
          <p ion-text color="primary" float-left>Quantity</p>
          <p float-right>{{i.Quantity}}</p>
        </div>

      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-navbar color="primary">
      <ion-title>Orders</ion-title>
    </ion-navbar>
    <ion-card-content>

      <div *ngIf="orders.length">
        <ion-item *ngFor="let i of orders">
          <ion-card-title (click)="gtProductDisplay(i)">{{i.Name}}</ion-card-title>
          <ion-item no-lines>
            <ion-avatar item-start>
              <img [src]="i.ImageUrl" class="" />
            </ion-avatar>
            <div item-end>
              {{i.Status}}
            </div>
          </ion-item>
          <p float-left>Nos.{{i.Quantity}}</p>
          <p float-right>Rs.{{i.Amount}}</p>
        </ion-item>
      </div>

      <ion-card *ngIf="!orders.length">
        <ion-card-content>
          <ion-card-title>No Orders</ion-card-title>
        </ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>

</ion-content>